html
{
	margin: 0px;
	padding: 0px;
	border:0px;
}

body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,dd,img,form,fieldset
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	
}

body
{
	padding:10px 0;
	background: url('../images/bg.png');
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #454545;
}

#login-container
{
	width: 536px;
	height: auto;
	padding: 0px;
	margin: 0px auto 0px auto;
}

#container
{
	width: 1020px;
	min-width: 1020px;
	height: auto;
	padding: 0px;
	margin: 0px auto 0px auto;
}

#content
{
	background: white;
	padding: 15px 20px 45px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  	border-radius: 5px;
  	-moz-box-shadow:0px 2px 3px #000;
    -webkit-box-shadow:0px 2px 3px #000;
    box-shadow:0px 2px 3px #000;
}

img#logo
{
	margin-top: 3px;
	float: left;
	margin-right: 13px;
}

#user
{
	background: url('../images/nav-list.png');
	padding: 3px 7px 3px 7px;
	color: #fff;
	float: right;
	border-bottom: 1px solid #3752b8;
	border-top: 1px solid #3752b8;
	border-left: 1px solid #3752b8;
	font-size: 12px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
	margin-top: 3px;
}

#position
{
	border: 1px solid #242424;
	padding: 3px 7px 3px 7px;
	color: #fff;
	float: right;
	font-size: 12px;
	background: url('../images/black.png');
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	margin-right: 10px;
	margin-top: 3px;
}

.floatright
{
	float: right;
}

a.custom
{
	/*background: url('../img/btn.png');*/
	background-color: #CECECE;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(#FBFBFB, #CECECE);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFBFB), to(#CECECE));
    background-image: -o-linear-gradient(top, #FBFBFB, #CECECE);
    background-image: linear-gradient(top, #FBFBFB, #CECECE);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#CECECE', GradientType=0);
	padding: 4px 10px 4px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  	border-radius: 10px;
  	font-size: 12px;
  	border: 1px solid #919191;
  	color: #575757;
  	text-decoration: none;
  	-moz-box-shadow:0px 1px 1px #999;
    -webkit-box-shadow:0px 1px 1px #999;
    box-shadow:0px 1px 1px #999;
}

a.custom:hover
{
	background: url('../images/hover.png');
}

a#logout:hover
{
	background: url('../images/hover.png');
}

input.custom
{
	/*background: url('../img/btn.png');*/
	background-color: #CECECE;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(#FBFBFB, #CECECE);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFBFB), to(#CECECE));
    background-image: -o-linear-gradient(top, #FBFBFB, #CECECE);
    background-image: linear-gradient(top, #FBFBFB, #CECECE);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#CECECE', GradientType=0);
	padding: 4px 10px 4px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  	border-radius: 10px;
  	font-size: 12px;
  	border: 1px solid #919191;
  	color: #575757;
  	text-decoration: none;
  	-moz-box-shadow:0px 1px 1px #999;
    -webkit-box-shadow:0px 1px 1px #999;
    box-shadow:0px 1px 1px #999;
}

input.custom:hover
{
	background: url('../images/hover.png');
}

input#logout:hover
{
	background: url('../images/hover.png');
}

#content-left
{
	margin-top: 20px;
	width: 203px;
	float: left;
	display: block;
}

a#navigation-title
{
	background: url('../images/white-right.png') top;
	padding: 7px 6px 5px 10px;
	font-weight: bold;
	border: 1px solid #aeafb0;
	color: #575757;
	display: block;
	box-shadow:inset 0px 1px 1px #d8dae0;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	text-decoration: none;
}

a#navigation-title:hover
{
	background: url('../images/hover.png') bottom;
}


.navigation-list
{
	padding: 5px;
	border-left: 1px solid #aeafb0;
	border-right: 1px solid #aeafb0;
	
	box-shadow:inset 0px 1px 1px #d8dae0;
	font-size: 13px;
}
.navigation-list.last{
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	border-bottom: 1px solid #aeafb0;
}

.navigation-list ul
{
	margin: 0px;
	padding: 0px;
}

.navigation-list ul li
{
	list-style: none;
}

.navigation-list ul li a
{
	text-decoration: none;
	color: #525151;
	padding: 2px 0px 2px 5px;
	width: 186px;
	margin: 5px;
	display: block;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
}

.navigation-list ul li a:hover
{
	text-decoration: none;
	color: #fff;
	background: url('../images/nav-list.png');
	width: 186px;
	padding: 1px 0px 1px 5px;
	border-left: 1px solid #3752b8;
	border-top: 1px solid #3752b8;
	border-bottom: 1px solid #3752b8;
}

a.navigation-title
{
	background: url('../images/white-right.png') top;
	padding: 7px 6px 5px 10px;
	font-weight: bold;
	border: 1px solid #aeafb0;
	color: #575757;
	display: block;
	box-shadow:inset 0px 1px 1px #d8dae0;
	text-decoration: none;	
}
a.navigation-title.first{
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
a.navigation-title.active
{
	background: url('../images/hover.png') bottom;
}

#content-right
{
	width: 755px;
	float: left;
	padding: 20px 0px 0px 20px;
}

#content-right h1
{
	font-size: 20px;
	margin: 0px;
	line-height: 30px;
}

#content-right p
{
	line-height: 20px;
}

#login-box
{
	background: #fcfcfc;
	margin-top: 20px;
	padding: 10px 10px 15px 10px;
	border-top: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius: 5px 5px 0px 0px;
}

table.login
{
	margin: 15px auto 0 auto;
}

table.login tr td
{
	vertical-align: top;
	padding: 3px;
}

table.login tr td.words
{
	padding: 7px;
}

#search-box
{
	background: #fcfcfc;
	margin-top: 10px;
	padding: 10px 10px 15px 10px;
	border-top: 1px solid #bebebe;
	border-left: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius: 5px 5px 0px 0px;
	min-height:30px;
	display:block;
}

#search-box p
{
	float: left;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}

#button-box
{
	/*background: url('../images/grey2.png');*/
	background-color: #EAEAEA;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#EAEAEA), to(#D1D1D1));
    background-image: -moz-linear-gradient(top, #EAEAEA, #D1D1D1);
    background-image: -ms-linear-gradient(top, #EAEAEA, #D1D1D1);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EAEAEA), color-stop(100%, #D1D1D1));
    background-image: -webkit-linear-gradient(top, #EAEAEA, #D1D1D1);
    background-image: -o-linear-gradient(top, #EAEAEA, #D1D1D1);
    background-image: linear-gradient(top, #EAEAEA, #D1D1D1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EAEAEA', endColorstr='#D1D1D1', GradientType=0);
	padding: 9px 10px 9px 10px;
	border: 1px solid #bebebe;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-webkit-box-shadow: 0 1px #ffffff inset;
	-moz-box-shadow: 0 1px #ffffff inset;
	box-shadow: 0 1px #ffffff inset;
}

#search
{
	float: right;
	border: 1px solid #bebebe;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  	border-radius: 10px;
}

#search img
{
	padding: 5px 0px 0px 5px;
}

#search input
{
	height: 15px;
	padding: 3px;
	border: none;
	margin: 0px 10px 0px 0px;
	width: 150px;
}

#nav-box
{
	background: #323232;
	color: #fff;
	padding: 8px 0px 5px 0px;
	font-size: 12px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
}

#nav-box p#total
{
	padding: 0px;
	margin: 0px 15px 8px 15px;
	float: left;
}

#nav-box input
{
	margin-bottom: 5px;
}

#box-title
{
	background: url('../images/white-right.png');
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-left: 1px solid #646464;
	border-right: 1px solid #646464;
	border-bottom: 1px solid #acacac;
	font-size: 14px;
	color: #454545;
}

#box-title p
{
	margin: 8px 15px 8px 15px;
}

#box-title .column6
{
	margin: 0px;
	padding: 7px 5px 5px 15px;
}

.box-content
{
	margin: 0px;
	border-left: 1px solid #646464;
	border-right: 1px solid #646464;
	color: #454545;
	font-size: 13px;
	background: white;
}

.box-content textarea#comment
{
	border: none;
	resize: none;
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 700px;
}

.box-content textarea#comment:focus
{
	outline: none;
}

.box-subset-title
{
	background: url('../images/hover.png');
	padding: 5px 0px 5px 30px;
	border-left: 1px solid #646464;
	border-right: 1px solid #646464;
	border-bottom: 1px solid #acacac;
	font-size: 12px;
	color: #454545;
}

.box-report
{
	padding: 20px;
}

.box-list
{
	border-bottom: 1px solid #e6e6e6;
}

.box-end
{
	border-bottom: 1px solid #acacac;
}

.box-yellow
{
	margin: 0px;
	border-left: 1px solid #646464;
	border-right: 1px solid #646464;
	border-bottom: 1px solid #acacac;
	color: #454545;
	font-size: 13px;
	background: #ffeda4;
}

.box-normal
{
	margin: 0px;
	border-left: 1px solid #646464;
	border-right: 1px solid #646464;
	border-bottom: 1px solid #acacac;
	color: #454545;
	font-size: 13px;
	background: #fffde2;
}

.box-locked
{
	margin: 0px;
	border-left: 1px solid #646464;
	border-right: 1px solid #646464;
	border-bottom: 1px solid #acacac;
	color: #acacac;
	font-size: 13px;
	background: #e7e9ee;
}

.box-content .box-content-left
{
	float: left;
	padding: 15px;
	width: 520px;
}

.box-content .box-content-left h3
{
	padding: 0px;
	margin: 0px;
	font-size: 15px;
	line-height: 22px;
}

.box-content .box-content-left p
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

.box-content .box-content-right
{
	float: right;
	padding: 0px;
}

.box-content .box-content-right table
{
	border-collapse: collapse;
	border: 0px;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

.box-content .box-content-right table tr td
{
	border: 0px;
	vertical-align: top;
}

.box-content .box-content-right table tr td.button
{
	padding: 20px 0px 0px 0px;
}

.box-content .box-content-right table tr td.mark
{
	width: 51px;
}

.subset
{
	padding-left: 40px;
}

.column1
{
	float: left;
	padding: 8px 15px 8px 15px;
	width: 310px;
}

.column2
{
	float: left;
	padding: 8px 15px 8px 15px;
	width: 100px;
}

.column3
{
	float: left;
	padding: 8px 15px 8px 15px;
	width: 130px;
}

.column4
{
	float: right;
	padding: 8px 15px 8px 15px;
	width: 90px;
}

.column5
{
	float: right;
	padding: 8px 15px 8px 15px;
	width: 140px;
}

.column6
{
	float: left;
	padding: 8px 15px 8px 15px;
	width: 420px;
	line-height: 20px;
}

.borderright
{
	border-right: 1px solid #acacac;	
}

.borderleft
{
	border-left: 1px solid #acacac;	
}

.round-mark
{
	margin: 15px;
}

#pagination
{
	float: right;
	width: 240px;
}

#page-top
{
	background: url('../images/light-grey.png');
	padding: 4px 8px 4px 8px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-right: 1px solid #a0a0a0;
	float: left;
}

#page-prev
{
	background: url('../images/light-grey.png');
	padding: 4px 8px 4px 8px;
	border-right: 1px solid #a0a0a0;
	float: left;
}

.number
{
	background: url('../images/number.png');
	padding: 4px 8px 4px 8px;
	border-right: 1px solid #a0a0a0;
	float: left;
}

#page-next
{
	background: url('../images/light-grey.png');
	padding: 4px 8px 4px 8px;
	border-right: 1px solid #a0a0a0;
	float: left;
}

#page-end
{
	background: url('../images/light-grey.png');
	padding: 4px 8px 4px 8px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-radius: 0px 4px 4px 0px;
	float: left;
}

.number a
{
	text-decoration: none;
	color: #585858;
}

.number.active
{
	background: white;
}

.notify
{
	margin-right: 5px;
	margin-bottom: -2px;
	width: 17px;
}

.error
{
	color: red;
	font-size: 11px;
	padding: 5px;
}

input.blackbg
{
	background: url('../images/btn.png');
	padding: 4px 10px 4px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  	border-radius: 10px;
  	font-size: 12px;
  	border: 1px solid #999;
  	color: #575757;
  	text-decoration: none;
	-moz-box-shadow:0px 1px 1px #333;
    -webkit-box-shadow:0px 1px 1px #333;
    box-shadow:0px 1px 1px #333;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

input.blackbg:hover
{
	background: url('../images/hover.png');
}

input#incomplete
{
	background: #909090;
}

input
{
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  	border-radius: 5px;
  	border: 1px solid #a6a6a6; 	
}

input.realisasi
{
	padding: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  	border-radius: 5px;
  	border: 1px solid #a6a6a6;	
  	width: 120px;
  	margin: 0px;
  	color: #454545;
  	box-shadow:inset 0px 1px 1px #999;
}

input.locked
{
	padding: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  	border-radius: 5px;
  	border: 1px solid #a6a6a6;	
  	width: 120px;
  	margin: 0px;
  	color: #454545;
  	background: #f5f5f5;
  	box-shadow:inset 0px 1px 1px #999;
}

input:focus
{
	outline: none;
}

a
{
	color: #5b78cd;
}

.clearfix:after 
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    margin: 0px;
}

p#copyright
{
	color: #dddddd;
	font-size: 11px;
	float: right;
	margin-top:10px;
}

table tr td
{
	padding: 5px;
}

.align-middle
{
	text-align: center;
}

.align-right
{
	text-align: right;
}

textarea#report
{
	width: 690px;
	padding: 10px;
	resize: none;
	border: 1px solid #acacac;
}

textarea#report:focus
{
	outline: none;
}

table#report
{
	border-collapse: collapse;
	width: 100%;
}

table#report tr td
{
	border: 1px solid #acacac;
}
input,textarea{-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);}
input:focus,textarea:focus{outline:0;border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
input[type=file]:focus,input[type=checkbox]:focus,select:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:1px dotted #666;}

/*twitter modal*/

.modal-backdrop {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop, .modal-backdrop.fade.in {
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11000;
  width: 560px;
  margin: -250px 0 0 -250px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.modal .close {
  margin-top: 7px;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -ms-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 50%;
}
.modal-header {
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
}
.modal-body {
  padding: 15px;
}
.modal-footer {
  background-color: #f5f5f5;
  padding: 14px 15px 15px;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
  margin-bottom: 0;
}
.modal-footer:before, .modal-footer:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn {
  float: right;
  margin-left: 5px;
}
